<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>store
      </mat-icon>&nbsp;&nbsp;
      <span>Counter Master</span>
    </ng-template>
    <ng-template matTabContent>
      <counter-master></counter-master>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assistant
      </mat-icon>&nbsp;&nbsp;
      <span>Counter Mapping</span>
    </ng-template>
    <ng-template matTabContent>
      <counter-mapping></counter-mapping>
    </ng-template>
  </mat-tab>
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map
      </mat-icon>&nbsp;&nbsp;
      <span>Map UOMID</span>
    </ng-template>
    <ng-template matTabContent>
      <map-uoid></map-uoid>
    </ng-template>
  </mat-tab> -->
</mat-tab-group>