$grey_form_field_theme: #DFDFDF;
$primary: #3F51B5;// primary color

.theme_btn{
    background: $primary;
    color: white;
    font-weight: bold;
    height: 2.4rem;
  }

.remarks{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

::ng-deep .mat-dialog-container {
    padding: 1rem !important;
}

.mat-form-field-class{
    font-size: 1.1rem;
    // padding: 6px 15px 0px 15px;
    width: 17rem;
}
mat-form-field{
    font-size: 1.1rem;   
}

mat-select{
    font-size: 0.8rem;
}

  
