<!-- Change Password Screen -->
<div fxLayout>
  <div id="change-password-img" fxLayout="column" fxLayoutAlign="center start">
    <p>Welcome to Usha LASM ! Created by Infield Infotech.</p>
  </div>
  <div id="change-password-form" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z3">
      <div id="change-password-title" fxLayout fxLayoutAlign="center center">
        <h3 *ngIf="!showSpinner">Change Password</h3>
        <mat-spinner *ngIf="showSpinner" [diameter]="50"></mat-spinner>
      </div>
      <br>
      <div fxLayoutAlign="center center">
        <form [formGroup]="changePasswordForm">
          <!-- Old Password -->
          <div class="input-fields">
            <mat-form-field>
              <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
              <mat-icon matSuffix>sync</mat-icon>
              <button mat-button *ngIf="changePasswordForm.get('oldPassword').value" matSuffix mat-icon-button (click)="changePasswordForm.get('oldPassword').setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
                Old Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- New Password -->
          <div class="input-fields">
            <mat-form-field>
              <input matInput type="password" placeholder="New Password" formControlName="newPassword">
              <mat-icon matSuffix>fingerprint</mat-icon>
              <button mat-button *ngIf="changePasswordForm.get('newPassword').value" matSuffix mat-icon-button (click)="changePasswordForm.get('newPassword').setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                New Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Conformation Password -->
          <div class="input-fields">
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
              <mat-icon matSuffix>fingerprint</mat-icon>
              <button mat-button *ngIf="changePasswordForm.get('confirmPassword').value" matSuffix mat-icon-button
                (click)="changePasswordForm.get('confirmPassword').setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                Confirm Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Change Password Button -->
          <div fxLayout fxLayoutAlign="center center">
            <button id="change-password-button" mat-raised-button color="primary" (click)="changePassword()">Change
              Password</button>
          </div>
          <br>
        </form>
      </div>
      <!-- Invalid passwords -->
      <div id="invalid-password" fxLayout fxLayoutAlign="start" *ngIf="invalidPassword">
        <h5>New password and confirm password does not match!</h5>
      </div>
      <!-- Error -->
      <div id="invalid-password" fxLayout fxLayoutAlign="start" *ngIf="showError">
        <h5>{{error.status}} {{error.statusText}} {{error.error.message}}</h5>
      </div>
    </mat-card>