$text-color: rgb(148, 144, 144); //text color grey
$primary: #3F51B5;// primary color.
$accent:  #E91E63;// accent color.
$warn:    #f44336;//warn color.



#change-password-img{
    background-image: url('../../../assets/images/login1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
     & p {
        color: $text-color;
        font-size: 0.7rem;
        max-width: 13rem;
        padding: 1rem;
        margin-top: 7rem;
        font-weight: bold;
    }
 }

 #change-password-form{
    width: 400px;
    height: 400px;
 }

 #change-password-title h3{
     color: $accent;
     font-size: 1.1rem;
     font-weight: bold;
 }

 mat-card{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

mat-icon{
    color: $primary;
}

.input-fields mat-form-field {
    max-width: 13rem;
    font-size: 0.9rem;
    color: $primary;
    font-weight: bold;
}

#change-password-button{
    color: white;
    font-weight: bold;
    margin-top: 0.6rem;
    width: auto;
}

#invalid-password{
    color: $warn;
    font-size: 0.8rem;
    font-weight: bold;
 }