<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>stars
      </mat-icon>&nbsp;&nbsp;
      <span>Beat Master</span>
    </ng-template>
    <ng-template matTabContent>
      <beat-master></beat-master>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>schedule
      </mat-icon>&nbsp;&nbsp;
      <span>Beat Schedule</span>
    </ng-template>
    <ng-template matTabContent>
      <beat-schedule></beat-schedule>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>today
      </mat-icon>&nbsp;&nbsp;
      <span>Beat Calendar</span>
    </ng-template>
    <ng-template matTabContent>
      <beat-calendar></beat-calendar>
    </ng-template>
  </mat-tab>
</mat-tab-group>