$text-color: rgb(148, 144, 144); //text color grey.
$primary: #3F51B5;// primary color
$accent:  #E91E63;// accent color.
$primary-dark: #1A237E; //primary-dark

table {
    width: 100%;
  }
   
  .mat-form-field {
    font-size: 1rem;
    max-width: 100%;
  }
  
  td, th {
    width: 10%;
    font-size: 0.7rem;
    font-weight: bold;
  }

  mat-icon{
    color: $text-color;
}

.mat-menu-item{
font-size: 0.8rem;
}

.mat-menu-item{
font-size: 0.8rem;
}
.selected{
  font-size: 1rem;
  color: $primary;
  padding: 1rem;
  font-weight: bold;
}