<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assessment
      </mat-icon>&nbsp;&nbsp;
      <span>Report</span>
    </ng-template>
    <ng-template matTabContent>
      <app-report></app-report>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment
      </mat-icon>&nbsp;&nbsp;
      <span>Sheet</span>
    </ng-template>
    <ng-template matTabContent>
      <app-sheet></app-sheet>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>chrome_reader_mode
      </mat-icon>&nbsp;&nbsp;
      <span>Summary</span>
    </ng-template>
    <ng-template matTabContent>
      <app-summary></app-summary>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_run
      </mat-icon>&nbsp;&nbsp;
      <span>Conveyance Allowance</span>
    </ng-template>
    <ng-template matTabContent>
      <travel-allowance></travel-allowance>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>filter_none
      </mat-icon>&nbsp;&nbsp;
      <span>Coveyance HR Report</span>
    </ng-template>
    <ng-template matTabContent>
      <hr-report></hr-report>
    </ng-template>
  </mat-tab>
</mat-tab-group>