<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>receipt
      </mat-icon>&nbsp;&nbsp;
      <span>Report</span>
    </ng-template>
    <ng-template matTabContent>
      <sale-report></sale-report>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>mail
      </mat-icon>&nbsp;&nbsp;
      <span>Mailers</span>
    </ng-template>
    <ng-template matTabContent>
      <sale-mailers></sale-mailers>
    </ng-template>
  </mat-tab>
</mat-tab-group>