<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment_ind
      </mat-icon>&nbsp;&nbsp;
      <span>LASM Mapping Visibility</span>
    </ng-template>
    <ng-template matTabContent>
      <lasm-mapping-visibility></lasm-mapping-visibility>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>post_add
      </mat-icon>&nbsp;&nbsp;
      <span>Mapping Tool</span>
    </ng-template>
    <ng-template matTabContent>
      <master-mapping></master-mapping>
    </ng-template>
  </mat-tab>
</mat-tab-group>