<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle
      </mat-icon>&nbsp;&nbsp;
      <span>User Master</span>
    </ng-template>
    <ng-template matTabContent>
      <user-master></user-master>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment
      </mat-icon>&nbsp;&nbsp;
      <span>LASM Activity Report</span>
    </ng-template>
    <ng-template matTabContent>
      <lasm-report></lasm-report>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>style
      </mat-icon>&nbsp;&nbsp;
      <span>Ticket</span>
    </ng-template>
    <ng-template matTabContent>
      <lasm-ticket></lasm-ticket>
    </ng-template>
  </mat-tab>
</mat-tab-group>