<br>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assessment
      </mat-icon>&nbsp;&nbsp;
      <span>Performance</span>
    </ng-template>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment
      </mat-icon>&nbsp;&nbsp;
      <span>Score Card</span>
    </ng-template>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>important_devices
      </mat-icon>&nbsp;&nbsp;
      <span>MSM</span>
    </ng-template>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>
</mat-tab-group>
